<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#91752a"/>
  <meta name="description" content="This a website about restaurant">

  <link rel="icon" type="image/x-icon" href="./favicon.ico">
  <link rel="apple-touch-icon" href="./icons/192x192.png">
  <link rel="manifest" href="./app.webmanifest">
  <title>Restaurant Apps Starter Project</title>
</head>
<body>
  <a href="#mainContent" class="skip-content">Skip to content</a>
  <header>
      <div class="appbar">
        <h1>RestoPedia</h1>
      </div>
      <button id="menu" class="header-menu">☰</button>
      <nav id="drawer" class="nav">
        <ul class="nav-list">
          <li class="nav-item"><a href="/">Home</a></li>
          <li class="nav-item"><a href="#/favorite">Favorite</a></li>
          <li class="nav-item"><a href="https://www.instagram.com/pratama_nugrawan/">About Us</a></li>
        </ul>
      </nav>
  </header>

  <div class="hero">
    <div class="hero-inner">
      <picture>
        <source media="(max-width: 500px)" srcset="./images/hero-image_4-small.jpg">
        <img src='./images/hero-image_4-large.jpg' 
             alt="Restaurant Hero">
      </picture>
      <h1>The Popular Restaurants</h1>
    </div>
  </div>

  <main id="mainContent" tabindex="0"></main>

  <footer>
    <p>copyright 2023 &copy; Nugrawan Pratama</p>
  </footer>
  </body>
</html>
